
#carrito{
    max-width: 50px;
    max-height: 50px ;
    text-align: right
}

#brand{
    font-family: 'Satisfy', cursive;
    color: black;
    font-size: 50px;
    margin-right: 100px;
}

#navBar{
    text-align: right;
}

.itemComida{
    cursor: pointer;
}
.hidden{
    display: none;
}

.show{
    display: block;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.productoOfertado{
    border-style: solid;
    border-width: 3px;
    border-color: #EDEDED;
    padding: 20px;
    margin: 5px;
}

.imagenProductoOfertado{
    display:block;
    margin:auto;
    height: auto;
    width: 100%;
}

.negrilla{
    font-weight: bold;
}

.right-alignmentCancel{
    position: absolute;
    right: 0px;
}

.right-alignmentConfirm{
    position: absolute;
    right: 80px;
}

.header{
    text-align: center;
    color :black;
    margin: 20px;
}

section > div > p {
    margin: 30px;
    display: inline-block;
    color: whitesmoke;
    padding: 10px;
}

.inline{
    display: inline-block;
}